<!DOCTYPE html>
<html>
<head>
    <title>Blockchain Certificate Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>🎓 Digital Certificate Verification</h1>

    <p>
    Secure platform for colleges to upload certificates and
    companies to verify authenticity using cryptographic hashing.
    </p>

    <br>

    <a href="/login">
        <button>Admin Login</button>
    </a>

    <br><br>

    <a href="/verify">
        <button>Verify Certificate</button>
    </a>

</div>

</body>
</html>