<!DOCTYPE html>
<html>
<head>
    <title>Upload Successful</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>✅ Certificate Uploaded Successfully!</h1>

    <p>
        The student certificate has been securely stored and
        its cryptographic hash has been recorded in the system ledger.
    </p>

    <br>
    <a href="/login"><button>Upload Another Certificate</button></a>
    <br><br>
    <a href="/"><button>Go Home</button></a>

</div>

</body>
</html>