<!DOCTYPE html>
<html>
<head>
    <title>Verify Certificate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h2>Certificate Verification Portal</h2>

    <form method="POST" action="/verify" enctype="multipart/form-data">

        <input type="file" name="certificate" required><br>
        <button type="submit">Verify Certificate</button>

    </form>

    <br>
    <a href="/"><button>Back Home</button></a>
</div>

</body>
</html>